
<% if logged_in? %>

<div class="forms">
  <%= form_for @day, :html => {class: "add_day"} do |f| %>
    <%= f.label :date, "Add a New Date" %>
    <%= f.text_field :date, :placeholder => "e.g. 7/23/2014", :type => "search" %>
    <%= f.submit "Add Date", :class => "btn" %>
  <% end %>

<div style="height: 15px;"></div>
  
  <%= form_for @location, :html => {class: "add_location"} do |f| %>
    <%= f.collection_select :day_id, @days, :id, :date, {:prompt => "--Pick a Day--"} %>
    <%= f.label :name, "Where did you go?" %>
    <%= f.text_field :name, :placeholder => "e.g. Central Park", :type => "search" %>
    <%= f.submit "Add Location", :class => "btn" %>
  <% end %>

  <button class="animate btn">Draw Route</button>
  <button class="clear_route btn">Hide Route</button>
  <button class="delete_day btn">Delete Day</button>
</div> 

  <div id="map-canvas" style="width: 80%; height: 100%"/>

<!-- NOT LOGGED IN -->
<% else %>

<div class="background_image">
</div>

<% end %>
