<% if logged_in? %>

<div class="forms">

  <%= form_for @day, :html => {class: "add_day"} do |f| %>
    <%= f.label :date, "ADD A NEW DATE" %>
    <%= f.text_field :date, :placeholder => "e.g. 7/23/2014", :type => "search" %>
    <script>
    $("#day_date").datepicker({ dateFormat: "yy-mm-dd" });
    </script>
    <%= f.submit "Add Date", :class => "btn" %>
  <% end %>
  
  <div style="height: 15px;"></div>

  <%= form_for @location, :html => {class: "add_location"} do |f| %>
    <%= f.collection_select :day_id, @days, :id, :date, {:prompt => "--Pick a Day--"} %>
    <%= f.label :name, "WHERE DID YOU GO?" %>
    <%= f.text_field :name, :placeholder => "e.g. Central Park", :type => "search" %>
    <%= f.submit "Add Location", :class => "btn" %>
  <% end %>

  <button class="delete_day btn btn-default">Delete Day</button>
  <button class="animate btn btn-default">Draw Route</button>
  <button class="clear_route btn btn-default">Hide Route</button>

</div> 

  <div id="map-canvas"/>

<%= render "layouts/footer" %> 

<!-- NOT LOGGED IN -->
<% else %>

<div class="background_image"><%= image_tag "map-screenshot.png", width: "100%" %></div>

<%= render "layouts/instructions" %> 
<%= render "layouts/footer" %> 

<% end %>
