<% if logged_in? %>

<div>
  <div class="forms container">
    <div class="box">
      <div class="top-row">
    <div>
    <%= form_for @day, :html => {class: "add_day col-md-4"} do |f| %>
      <%= f.text_field :date, :placeholder => "Choose a day.", :class => "datepicker" %>  
      <%= f.submit "Add Date", :class => "btn btn-sm" %> 
    <% end %>
  </div>

    <button type="button" class="animate_all btn btn-default">Draw All Routes</button>
    </div> 
    <button type="button" class="animate btn btn-default">Draw Today's Route</button>


<div style='height: 50px'></div>
  <div form class="form-inline">
    <%= form_for @location, :html => {class: "add_location"} do |f| %>
      <%= f.collection_select :day_id, @days, :id, :date, {:prompt => "Select a day."} %>
      <%= f.text_field :name, :placeholder => "e.g. Central Park", :class => "form-control" %>
      <%= f.submit "Add Location", :class => "btn btn-sm" %>
    <% end %>


      <div style="display:inline" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" class="dropdown-header">Day</li>
          <li role="presentation"><a class="clear_day" role="menuitem" tabindex="-1" href="#">Clear Locations</a></li>
          <li role="presentation"><a class="clear_route" role="menuitem" tabindex="-1" href="#">Hide Today's Route</a></li>
          <li role="presentation"><a  class="delete_day" role="menuitem" tabindex="-1" href="#">Delete Today</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">All Days</li>
          <li role="presentation"><a  class="delete_all_days" role="menuitem" tabindex="-1" href="#">Delete All Days</a></li>
        </ul>
      </div>
  </div>
  </div>
</div>


</div>

<div id="map-canvas"/>

<!-- NOT LOGGED IN -->
<% else %>

<div class="background_image"><%= image_tag "map-screenshot.png", width: "100%" %></div>
<div class="front-quote">
  <blockquote>Do not go where the path may lead, go instead where there is no path and leave a trail. <br><p style="float: right;">-Ralph Waldo Emerson</p></blockquote>
</div>  

<%= render "layouts/instructions" %> 
<center><%= render "layouts/footer" %></center>

<% end %>
