<h1> Mapify </h1>

<%= form_tag("/locations", method:"POST") do %>
  <%= label_tag(:query, "Where did you go?") %>
  <%= text_field_tag(:query, "e.g. Central Park") %>

  <%= submit_tag("Add Location") %>
<% end %>


<div style='width: 800px;'>
  <div id="custom_style" style='width: 800px; height: 600px;'></div>
</div>


<%= javascript_tag do %>
  window.hash = JSON.parse("<%=j @hash.to_json %>");

  alert(window.hash);

<% end %>