<h1> Mapify </h1>

  <%= form_for @location, :html => {class: "add_location"} do |f| %>
  <%#= form_tag("/locations", method:"POST", :class => "add_location") do %>

    <%= f.collection_select :day_id, @days, :id, :date %>
    <%= f.label :name, "Where did you go?" %>
    <%= f.text_field :name, :placeholder => "e.g. Central Park", :autocomplete => "on" %>
    <%= f.submit "Add Location" %>
  <% end %>

<button class="animate">Draw route</button>
<div id="map-canvas" style="width: 70%; height: 100%"/>